doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-typeahead.css')
  body
    h1 OMG ADMIN
    block content
    script(src='/scripts/jquery-2.1.0.min.js')
    script(src='/scripts/typeahead.min.js')
    script(src='/scripts/bootstrap.min.js')
    block scripts